.card {
    border-radius: 5%;
    border: solid 1px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em 0em;
}

.card_title {
    margin-top: 0;
}

.card_description {
    width: 100%;
}
